main {
  display: flex;
  flex-direction: column;
  gap: 180px;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 51px 96px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
  align-self: center;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item { 
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.header__link_active{
  text-decoration: none;
}

.header__address {
  font-style: inherit;
  justify-self: end;
}

.adress__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.text-link:hover {
  background-color: #000000;
  color: #FFF;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 165px 50px 50px 50px;
}

.cover-title {
  text-transform: uppercase;
  color: #FFF;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 30px;
  line-height: 1.15;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #000000;
  opacity: 0.6;
}
/* Этот класс нужен для того, чтобы мы могли центрировать элементы, т.к строчные элементы не поддаются правилу text-align */
.aligned-text { 
  display: block;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right{
  line-height: 1;
  text-align: right;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 107px;
  padding: 106px 0 0;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  line-height: 1.27;
}

.bet-button {
  color: #FFF;
  text-transform: uppercase;
  font-size: 22px;
  border: 1px #FFF solid;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 32px;
}

.bet-button:hover {
  color: #000000;
  background-color: #FFF;
}

.lots {
  padding: 0 24px;
}

.lots__heading {
  text-transform: uppercase;
  line-height: 1;
  font-size: 40px;
  font-weight: bold;
  padding: 0 0 30px 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
}

.lost__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  height: 100%;
  width: auto;
  gap: 30px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card__title {
  position: relative;
  z-index: 1;
  color: #FFF;
  text-transform: uppercase;
  text-decoration-line: underline;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #FFF;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: none;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.about__column {
  justify-self: center;
}

.about__logo {
  background-color: #000000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
}

.about__column_text {
  grid-column: 2/4;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  padding: 100px 0 104px;;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p{
  font-size: 20px;
  line-height: 24px;
}

.address {
  font-style: inherit;
}

.content-section{
  width: 100%;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link{
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer_list{
  display: flex;
  list-style: none;
  gap: 48px;
}

.footer_icon {
  width: auto;
  height: 48px;
}
